<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.turistiando">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="Turistiando"
        android:supportsRtl="true"
        android:theme="@style/Theme.Turistiando"
        tools:targetApi="31">
        <activity
            android:name=".ContenedorActivity"
            android:exported="false"
            android:label="@string/title_activity_contenedor"
            android:theme="@style/Theme.Turistiando.NoActionBar" />
        <activity
            android:name=".actividades.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".actividades.login"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".actividades.load"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>